.container {
    display: grid; /* Establece el contenedor como un grid */
    gap: 32px; /* Espacio entre filas y columnas (8 unidades de Tailwind) */
    margin: 0 auto; /* Centra el contenedor */
    display: 2fr 1fr; /* Establece la relación de tamaño entre las columnas */
    width: 50%; /* Ancho del contenedor */
    place-items: center; 
    height: 50%;
}
h1 {
    font-size: 2.25rem; /* text-4xl */
    margin-bottom: 1rem; /* mb-4 */
    color: black;
}

.element {
    background-color: rgba(255, 255, 255, 0.2); /* bg-white bg-opacity-20 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1.5rem; /* p-6 */
    color: white; /* text-white */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* shadow-lg */
    display: grid;
    place-items: center; /* centers content both horizontally and vertically */
    text-align: center; /* aligns text in the center */
}

.element:hover {
    transform: scale(1.05); /* hover:scale-105 */
}

h3 {
    font-size: 1.5rem; /* text-2xl */
    margin-bottom: 0.5rem; /* mb-2 */
    color: black;
}

p {
    font-size: 1.125rem; /* text-lg */
    margin-bottom: 1rem; /* mb-4 */
    color: black;
}

boton {
    background-color: #2563EB; /* bg-blue-500 */
}