/* CompletedPurchase.css */
.completed-purchase-container {
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 33.3333%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0 8px #b4b4b4;
  }
  
  .completed-purchase-title {
    text-align: center;
  }
  
  .completed-purchase-link {
    background-color: black;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
  }

  .completed-purchase-link:hover {
    background-color: gray;
  }

  .completed-purchase-text{
    text-align: center;
  }